mat-card {
    max-width: 500px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
}

.header {
    text-align: center;

}

.full-width {
    width: 80%;
}

.button-row {
    padding-top: 5px;
}

.button-row a {
    margin-right: 8px;
    text-align: center;
}

.forget-password {
    padding-left: 0px;
}

.userInput {
    padding-top: 10px;
}

.contentBody {
    padding: 60px 1rem;
    background: #1b6ca8;
    display: block;
}

.aLink {
    float: right;
    margin: 15px 0;
    padding-right: 60px;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

body {
    background-image: url('/assets/images/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

mat-card {
    margin-top: 4%;
}

.img-container {
    width: 100vw;
margin-top: 3%;
}


.img-container > img {
    height: 100px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}