<div class="container">
    <nav>
        <ul>
            <li>
                <button [routerLink]="['/schedule']" routerLinkActive="router-link-active" class="custom-fab" mat-fab aria-label="Example icon button with a delete icon">
                    <mat-icon>calendar_today</mat-icon>
                </button>
            </li>
            <li>
                <button [routerLink]="['/finance']" routerLinkActive="router-link-active"  class="custom-fab" mat-fab aria-label="Example icon button with a delete icon">
                    <mat-icon>attach_money</mat-icon>
                </button>
            </li>
            <li>
                <button [routerLink]="['/messages']" routerLinkActive="router-link-active"  class="custom-fab" mat-fab aria-label="Example icon button with a delete icon">
                    <mat-icon>message</mat-icon>
                </button>
            </li>
        </ul>
    </nav>
</div>